numpy
pandas
matplotlib
scikit-learn
seaborn
plotly
ipykernel
SQLAlchemy
bleach
certifi
charset-normalizer
colorama
greenlet
idna
imbalanced-learn
kaggle
python-dateutil
python-slugify
pytz
requests
six
text-unidecode
tqdm
typing_extensions
tzdata
urllib3
webencodings